@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
.head{
  height: 100vh;
  background-image: url("../Images/Cat\ Hero\ 1920.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-family: 'Nova Square', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: #F9FAFB;
}
#Eff{
  background-color: yellow;
  padding-right: 5px;
  padding-left: 5px;
  color: black;
}
#goal{
  background-color: yellow;
  padding-right: 5px;
  padding-left: 5px;
  color: black;
}
#Exp{
  text-align: center;
}
button{
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: black;
  color: #F9FAFB;
  margin-top: 500px;
  border: 1px solid black);
  border-radius: 10px; 
}